{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>PVB Spotify App</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-content">
            <img src="{% static 'images/Logo_Personal.png' %}" alt="Logo" class="navbar-logo">
            <span class="navbar-title">Pablo Velicias Barquín</span>
            <div class="dropdown">
                <button class="dropbtn">Proyectos</button>
                <div class="dropdown-content">
                    <a href="#">Spotify Statistics</a>
                    <a href="#">En Progreso</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="main_container">
        <div class="Container_Logo">
            <div class="background-animation">
                <div class="circle"></div>
            </div>
            <img src="{% static 'images/favicon.ico' %}" alt="Logo APP">
            <h1>Tus estadísticas de Spotify</h1>
            <p>Explora tu historial más reciente y hábitos de escucha en Spotify.</p>
            <a href="/auth/" class="login-button">Iniciar Sesión con Spotify</a>
        </div>
    </div>
</body>
</html>

